<div id="app" class="h-screen flex">
  <!-- Fixed sidebar -->
  <div class="bg-gray-600 w-40 sm:w-64">
    <h1 class="p-4 text-white font-semibold text-xl">
      Welcome {{ user.name }}
    </h1>
  </div>
  <!-- Scroll wrapper -->
  <div class="flex-1 flex bg-gray-100 overflow-hidden">
    <!-- Scrollable container -->
    <div class="px-6 py-4 flex-1 overflow-y-scroll">
      <div class="flex justify-end">
        <ngbd-modal-component></ngbd-modal-component>
      </div>
      <!-- Your content -->
      <div *ngIf="postList">
        <div *ngFor="let post of postList">
          <div
            class="p-8 shadow text-center rounded-lg my-10 bg-white"
            v-for="i in 50"
          >
            {{ post.data }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
